In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style('darkgrid')
sns.set_palette('viridis')

In [2]:
train = '../data/train.csv'
weather = '../data/weather.csv'
spray = '../data/spray.csv'

In [3]:
train = pd.read_csv(train)
weather = pd.read_csv(weather)
spray = pd.read_csv(spray)

In [4]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [16]:
train.corr()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Block,1.000000,0.091110,-0.090375,0.222134,-0.172388,0.004877
Latitude,0.091110,1.000000,-0.701795,0.444026,-0.184806,0.028697
Longitude,-0.090375,-0.701795,1.000000,-0.456775,0.036633,-0.060345
AddressAccuracy,0.222134,0.444026,-0.456775,1.000000,-0.248414,0.008064
NumMosquitos,-0.172388,-0.184806,0.036633,-0.248414,1.000000,0.196820
WnvPresent,0.004877,0.028697,-0.060345,0.008064,0.196820,1.000000

In [6]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
Date         14835 non-null object
Time         14251 non-null object
Latitude     14835 non-null float64
Longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [10]:
spray['Date'].value_counts()

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [11]:
train['Date'].value_counts()

2007-08-01    551
2007-08-15    276
2007-08-24    186
2007-08-21    186
2013-08-01    186
2007-10-04    185
2007-08-07    184
2013-07-12    182
2013-07-19    182
2013-08-08    181
2011-07-25    179
2011-07-15    177
2013-08-22    167
2007-09-24    167
2009-07-17    164
2013-08-15    157
2013-07-25    153
2007-07-11    152
2011-07-11    146
2013-08-29    143
2013-09-06    143
2011-08-05    140
2013-09-12    139
2007-08-22    139
2009-07-31    139
2011-07-29    138
2011-09-12    138
2007-08-02    137
2007-09-12    135
2009-08-07    131
             ...
2007-07-27     83
2013-06-07     77
2009-06-05     77
2007-07-02     74
2009-07-13     71
2007-06-26     70
2009-10-01     65
2011-06-10     62
2011-09-01     62
2013-06-27     62
2011-09-30     61
2007-06-05     60
2013-06-28     60
2009-05-28     59
2009-09-03     55
2007-08-17     54
2009-08-27     54
2009-06-22     52
2007-09-06     50
2011-09-02     50
2007-06-29     46
2007-07-19     45
2009-06-15     32
2009-06-29     31
2007-08-09     26
2007-10-09     26
2007-05-29     25
2007-09-25     23
2009-06-03     14
2007-08-03      5
Name: Date, Length: 95, dtype: int64

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
Date                      10506 non-null object
Address                   10506 non-null object
Species                   10506 non-null object
Block                     10506 non-null int64
Street                    10506 non-null object
Trap                      10506 non-null object
AddressNumberAndStreet    10506 non-null object
Latitude                  10506 non-null float64
Longitude                 10506 non-null float64
AddressAccuracy           10506 non-null int64
NumMosquitos              10506 non-null int64
WnvPresent                10506 non-null int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.0+ KB

In [13]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [15]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [17]:
weather['Water1'].value_counts()

M    2944
Name: Water1, dtype: int64

In [18]:
weather['Depth'].value_counts()

0    1472
M    1472
Name: Depth, dtype: int64