# Cleaning the weather dataset

In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv('../data/weather.csv')

In [3]:
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [4]:
weather.shape

(2944, 22)

In [5]:
weather.isnull().sum().sum()

0

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

The only non object features are `Station`, `Tmax`, `Tmin`, `Dewpoint`, `ResultSpeed`, and `ResultDir`. The built in pandas methods for checking for missing data should suffice to sort any missing values for them. For the remaining features we have to look more closely.

In [7]:
weather.Station.value_counts()

1    1472
2    1472
Name: Station, dtype: int64

In [8]:
weather.Tmax.isnull().sum()

0

In [9]:
weather.Tmin.isnull().sum()

0

In [10]:
weather.DewPoint.isnull().sum()

0

In [11]:
weather.ResultSpeed.isnull().sum()

0

In [12]:
weather.ResultDir.isnull().sum()

0

## So there's no true null values in the columns that are already coded as numeric, but we might need to look more carefully at the remaining ones. According to the documentation, some features encode missing values with an 'M'.

# Date

Well, they're all length ten strings, so probably all good here.

In [13]:
weather.Date.describe()

count           2944
unique          1472
top       2013-09-13
freq               2
Name: Date, dtype: object

In [14]:
weather.Date.map(len).value_counts()

10    2944
Name: Date, dtype: int64

# Tavg

In [15]:
Tavg_missing = weather['Tavg'].map(lambda val: val == 'M')
Tavg_missing.sum()

11

A few missing Tavg, we'll drop those rows.

In [16]:
weather = weather[~Tavg_missing]

In [17]:
weather['Tavg'] = weather['Tavg'].astype(float)

In [18]:
Depart_missing = weather['Depart'].map(lambda val: val == 'M')
Depart_missing.sum()

1461

In [19]:
weather.drop('Depart', 1, inplace=True)

# WetBulb

In [20]:
WetBulb_missing = weather['WetBulb'].map(lambda val: val == 'M')
WetBulb_missing.sum()

4

In [21]:
weather = weather[~WetBulb_missing]

In [22]:
weather['WetBulb'] = weather['WetBulb'].astype(float)

# Heat, Cool

In [23]:
Heat_missing = weather['Heat'].map(lambda val: val == 'M')
Heat_missing.sum()

0

In [24]:
weather['Heat'] = weather['Heat'].astype(float)

In [25]:
Cool_missing = weather['Cool'].map(lambda val: val == 'M')
Cool_missing.sum()

0

In [26]:
weather['Cool'] = weather['Cool'].astype(float)

# Sunrise, Sunset

In [27]:
Sunrise_missing = weather['Sunrise'].map(lambda val: val == 'M')
Sunrise_missing.sum()

0

In [28]:
weather['Sunrise'].value_counts().head()

-       1460
0416     104
0417      64
0419      40
0425      32
Name: Sunrise, dtype: int64

In [29]:
Sunset_missing = weather['Sunset'].map(lambda val: val == 'M')
Sunset_missing.sum()

0

In [30]:
weather['Sunset'].value_counts().head()

-       1460
1931      95
1930      56
1929      48
1925      32
Name: Sunset, dtype: int64

# CodeSum, Depth

In [31]:
CodeSum_missing = weather['CodeSum'].map(lambda val: val == 'M')
CodeSum_missing.sum()

0

In [32]:
codesums  = set(weather.CodeSum.str.split(' ').map(tuple))

codes = set()
for cs in codesums:
    for code in cs:
        codes.add(code)
codes.discard('')
codes = list(codes)

In [33]:
def build_df_codesum(row, codes):
    cs = set(row['CodeSum'].split())
    code_out = [int(code in cs) for code in codes]
    code_out = pd.Series(data=code_out, index=codes)
    return code_out

weather[codes] = weather.apply(lambda row:build_df_codesum(row, codes), 1)

In [34]:
weather.drop('CodeSum', 1, inplace=True)

In [35]:
Depth_missing = weather['Depth'].map(lambda val: val == 'M')
Depth_missing.sum()

1460

In [36]:
weather['Depth'].value_counts()

0    1469
M    1460
Name: Depth, dtype: int64

In [37]:
weather.drop('Depth', 1, inplace=True)

# Water1, SnowFall, PrecipTotal,

In [38]:
Water1_missing = weather['Water1'].map(lambda val: val == 'M')
Water1_missing.sum()

2929

In [39]:
weather['Water1'].value_counts()

M    2929
Name: Water1, dtype: int64

In [40]:
weather.drop('Water1', 1, inplace=True)

In [41]:
SnowFall_missing = weather['SnowFall'].map(lambda val: val == 'M')
SnowFall_missing.sum()

1460

In [42]:
weather['SnowFall'].value_counts()

M      1460
0.0    1456
  T      12
0.1       1
Name: SnowFall, dtype: int64

In [43]:
weather.drop('SnowFall', 1, inplace=True)

In [44]:
PrecipTotal_missing = weather['PrecipTotal'].map(lambda val: val == 'M')
PrecipTotal_missing.sum()

2

In [45]:
weather = weather[~PrecipTotal_missing]

# StnPressure

In [46]:
StnPressure_missing = weather['StnPressure'].map(lambda val: val == 'M')
StnPressure_missing.sum()

2

In [47]:
weather = weather[~StnPressure_missing]  
weather['StnPressure'] = weather['StnPressure'].map(float)

## SeaLevel

In [49]:
SeaLevel_missing = weather['SeaLevel'].map(lambda val: val == 'M')
SeaLevel_missing.sum()

7

In [50]:
weather = weather[~SeaLevel_missing]  
weather['SeaLevel'] = weather['SeaLevel'].map(float)

## AvgSpeed

In [51]:
AvgSpeed_missing = weather['AvgSpeed'].map(lambda val: val == 'M')
AvgSpeed_missing.sum()

0

In [54]:
weather['AvgSpeed'] = weather['AvgSpeed'].map(float)

## Exporting to csv

In [56]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,...,DZ,VCFG,RA,TSRA,SQ,FU,MIFG,HZ,VCTS,TS
0,1,2007-05-01,83,50,67.0,51,56.0,0.0,2.0,0448,...,0,0,0,0,0,0,0,0,0,0
1,2,2007-05-01,84,52,68.0,51,57.0,0.0,3.0,-,...,0,0,0,0,0,0,0,0,0,0
2,1,2007-05-02,59,42,51.0,42,47.0,14.0,0.0,0447,...,0,0,0,0,0,0,0,0,0,0
3,2,2007-05-02,60,43,52.0,42,47.0,13.0,0.0,-,...,0,0,0,0,0,0,0,1,0,0
4,1,2007-05-03,66,46,56.0,40,48.0,9.0,0.0,0446,...,0,0,0,0,0,0,0,0,0,0

In [39]:
weather.isnull().sum().sum()

0

In [ ]:
weather.to_csv('../data/weather_cleaned.csv', index=False)

## Recording the name of the weather station closest to a trap

In [86]:
train = pd.read_csv('../data/train_cleaned.csv')

- Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level  

- Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

In [90]:
from math import radians, sin, cos, atan2, sqrt
def distance(lat1, lon1, lat2, lon2, degrees=True, R = 3959.0):
    
    #assumes input is in degrees and converts to radians. If input is in radians pass degrees=False
    #distances are measured in miles
    
    if degrees:
        lat1 = radians(lat1)
        lon1 = radians(lon1)
        lat2 = radians(lat2)
        lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1


    a = (sin(dlat/2))**2 + cos(lat1) * cos(lat2) * (sin(dlon/2))**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    
    return R * c

#one=hots 
def closest_station(row):
    lat = row['latitude']
    lon = row['longitude']
    
    d1 = distance(41.995, -87.933, lat, lon)
    d2 = distance(41.786, -87.752, lat, lon)
    
    if d1 > d2:
        return 1
    else:
        return 0

In [92]:
train['closest_station'] = train.apply(closest_station, axis=1)

In [ ]:
train.to_csv('../data/train_cleaned_station.csv')