# Cleaning the Spray Dataset

## Importing modules and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline
sns.set_style('darkgrid')
sns.set_palette('viridis')

spray = pd.read_csv('../data/spray.csv')

In [2]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

## Checking for null values

In [3]:
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

Since there are so many missing values for time and we have no way to determine the true values, we will drop the time column.

## Checking for other errors

### Duplicated locations

We noticed that one latitude/longitude pair was duplicated over 500 times and one other was duplicated once. We address these issues below:

In [4]:
order_groups = spray.groupby(['Latitude', 'Longitude'], as_index=False).count().sort_values('Date', ascending=False)

In [5]:
order_groups.head()

        Latitude  Longitude  Date  Time
11853  41.986460 -87.794225   541   541
11499  41.983917 -87.793088     2     2
0      41.713925 -87.615892     1     1
9533   41.959113 -87.719752     1     1
9522   41.959028 -87.728890     1     1

In [6]:
order_groups.loc[11499, :]['Latitude']

41.9839166666667

In [7]:
lat_long_count = spray.drop('Time', axis=1).groupby(['Latitude', 'Longitude']).agg(['count'])

lat_long_count.columns

lat_long_count = pd.Series(lat_long_count.values.reshape(1,-1)[0], lat_long_count.index)

lat_long_count.sort_values(ascending=False).head()

Latitude   Longitude
41.986460  -87.794225    541
41.983917  -87.793088      2
41.894413  -87.710262      1
41.894380  -87.772148      1
41.894343  -87.760688      1
dtype: int64

Through manual inspection, we have determined a spray entry which has been duplicated 541 times.  We are going to remove the duplicates from this list.

In [8]:
mask = (spray['Latitude'] == 41.986460) & (spray['Longitude'] == -87.794225)
spray[mask].shape

(541, 4)

In [9]:
spray[mask].index[1:]

Int64Index([ 490,  491,  492,  493,  494,  495,  496,  497,  498,  499,
            ...
            1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029],
           dtype='int64', length=540)

In [10]:
spray.drop(spray[mask].index[1:], inplace=True)

In [11]:
lat_long_count = spray.drop('Time', axis=1).groupby(['Latitude', 'Longitude']).agg(['count'])

lat_long_count = pd.Series(lat_long_count.values.reshape(1,-1)[0], lat_long_count.index)

lat_long_count.sort_values(ascending=False).head()

Latitude   Longitude
41.983917  -87.793088    2
42.395983  -88.095757    1
41.894157  -87.754473    1
41.894380  -87.772148    1
41.894343  -87.760688    1
dtype: int64

In [12]:
mask = (spray['Longitude'] == -87.7930883333333) & (spray['Latitude'] ==  41.9839166666667)
sum(mask)

2

In [13]:
spray[mask].index[1:]

Int64Index([485], dtype='int64')

In [14]:
spray.drop(spray[mask].index[1:], inplace=True)

In [15]:
lat_long_count = spray.drop('Time', axis=1).groupby(['Latitude', 'Longitude']).agg(['count'])

lat_long_count = pd.Series(lat_long_count.values.reshape(1,-1)[0], lat_long_count.index)

lat_long_count.sort_values(ascending=False).head()

Latitude   Longitude
42.395983  -88.095757    1
41.894160  -87.767937    1
41.894402  -87.704128    1
41.894380  -87.772148    1
41.894343  -87.760688    1
dtype: int64

In [16]:
spray.drop('Time', axis=1, inplace=True)

**Now there are no duplicated latitude/longitude pairs and we have dropped the time column.**

## Adding an indicator if a trap is nearby spray zone

In [17]:
train = pd.read_csv('../data/train_cleaned.csv')

In [18]:
from math import sin, cos, radians, asin, sqrt
def global_distance(lon1, lat1, lon2, lat2):
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956
    
    return c * r

In [19]:
train[['longitude','latitude']].head()

   longitude   latitude
0 -87.800991  41.954690
1 -87.800991  41.954690
2 -87.769279  41.994991
3 -87.824812  41.974089
4 -87.824812  41.974089

In [20]:
spray[['Longitude', 'Latitude']].head()

   Longitude   Latitude
0 -88.089163  42.391623
1 -88.089163  42.391348
2 -88.089157  42.391022
3 -88.089158  42.390637
4 -88.088858  42.390410

In [21]:
stations = {}
for index, row in train.iterrows():
    stations[row['trap']] = (row['longitude'], row['latitude'])

In [22]:
stations

{'T002': (-87.800991, 41.95469),
 'T007': (-87.769279, 41.994991),
 'T015': (-87.824812, 41.974089),
 'T045': (-87.666455, 41.9216),
 'T046': (-87.65449100000002, 41.891118),
 'T048': (-87.654224, 41.867108),
 'T049': (-87.655232, 41.896282),
 'T050': (-87.694259, 41.919343),
 'T054': (-87.632085, 41.921965),
 'T086': (-87.676709, 41.688324),
 'T091': (-87.64886, 41.862292),
 'T094': (-87.666014, 41.720848),
 'T096': (-87.677512, 41.731922),
 'T129': (-87.61156, 41.891126),
 'T143': (-87.795585, 41.999129),
 'T148': (-87.68776899999997, 42.01743),
 'T153': (-87.760886, 41.907645),
 'T159': (-87.649642, 41.732984),
 'T009': (-87.862995, 41.99247800000001),
 'T011': (-87.832763, 41.944869),
 'T016': (-87.81150600000002, 42.011601),
 'T019': (-87.69845699999998, 41.94983),
 'T025': (-87.750938, 41.979243),
 'T028': (-87.689778, 41.986921),
 'T031': (-87.763416, 41.801498),
 'T033': (-87.701431, 41.906638),
 'T089': (-87.64997, 41.723195),
 'T090': (-87.666901, 41.868077),
 'T092': (-87.627561, 41.869216),
 'T135': (-87.72460799999998, 41.662014),
 'T141': (-87.76007, 41.961743),
 'T142': (-87.776792, 41.953067),
 'T145': (-87.629798, 41.878114),
 'T146': (-87.702575, 41.958271),
 'T147': (-87.700117, 41.932094),
 'T149': (-87.667736, 41.994469),
 'T150': (-87.675919, 42.006858),
 'T151': (-87.800515, 41.916265),
 'T152': (-87.716277, 41.846075),
 'T154': (-87.752329, 41.918705),
 'T158': (-87.707973, 41.682587),
 'T162': (-87.61425799999998, 41.725517),
 'T218': (-87.730698, 41.948167),
 'T220': (-87.69181, 41.963976),
 'T001': (-87.733974, 41.953705),
 'T003': (-87.757639, 41.964242),
 'T006': (-87.797127, 41.990284),
 'T008': (-87.77792099999998, 42.008314),
 'T012': (-87.747113, 41.991429),
 'T034': (-87.686763, 41.843811),
 'T037': (-87.79518, 41.921177),
 'T040': (-87.719887, 41.852652),
 'T043': (-87.694991, 41.857402),
 'T047': (-87.696269, 41.868142),
 'T051': (-87.656913, 41.846283),
 'T085': (-87.648064, 41.721474),
 'T088': (-87.69629300000003, 41.869107),
 'T161': (-87.675088, 41.719059),
 'T219': (-87.674677, 41.966987),
 'T013': (-87.785288, 41.923738),
 'T014': (-87.787992, 41.970248),
 'T018': (-87.66214000000002, 42.010412),
 'T030': (-87.716788, 41.89923),
 'T084': (-87.598865, 41.692555),
 'T144': (-87.794896, 41.94016),
 'T160': (-87.68826700000002, 41.903002),
 'T005': (-87.776385, 41.942114),
 'T017': (-87.777189, 41.960616),
 'T044': (-87.705085, 41.883284),
 'T095': (-87.70373599999998, 41.704336),
 'T004': (-87.748367, 41.96272800000001),
 'T035': (-87.742302, 41.763733),
 'T036': (-87.729384, 41.837085),
 'T039': (-87.726737, 41.911824),
 'T060': (-87.67837800000002, 41.823065),
 'T061': (-87.679447, 41.801179),
 'T062': (-87.71188000000002, 41.800737),
 'T065': (-87.752411, 41.778297),
 'T066': (-87.703047, 41.77166),
 'T067': (-87.745602, 41.759346),
 'T069': (-87.678649, 41.768388),
 'T070': (-87.797894, 41.797616),
 'T071': (-87.77653199999997, 41.781416),
 'T073': (-87.60088, 41.773215),
 'T074': (-87.66634300000003, 41.822536),
 'T075': (-87.585487, 41.799282),
 'T076': (-87.615989, 41.794781),
 'T077': (-87.586427, 41.778748),
 'T079': (-87.562889, 41.766202),
 'T080': (-87.612922, 41.754676),
 'T081': (-87.62779599999998, 41.821582),
 'T082': (-87.642984, 41.803423),
 'T083': (-87.590773, 41.754292),
 'T114': (-87.736812, 41.798697),
 'T155': (-87.778927, 41.776156),
 'T063': (-87.726549, 41.82561),
 'T115': (-87.599862, 41.673408),
 'T138': (-87.585413, 41.72646500000001),
 'T200': (-87.559308, 41.678618),
 'T206': (-87.54306700000002, 41.737052),
 'T209': (-87.546587, 41.740641),
 'T212': (-87.535198, 41.680946),
 'T215': (-87.531635, 41.686398),
 'T107': (-87.582699, 41.729669),
 'T128': (-87.56566600000002, 41.704572),
 'T072': (-87.70271600000002, 41.74785),
 'T078': (-87.65535600000003, 41.775051),
 'T097': (-87.60449799999998, 41.644612),
 'T099': (-87.55551, 41.733643),
 'T100': (-87.531657, 41.717753),
 'T102': (-87.605294, 41.750498),
 'T103': (-87.536497, 41.702724),
 'T027': (-87.728492, 41.98480900000001),
 'T156': (-87.740029, 41.772846),
 'T157': (-87.667827, 41.825902),
 'T221': (-87.53869300000002, 41.659112),
 'T900': (-87.890615, 41.974689),
 'T903': (-87.930995, 41.957799),
 'T222': (-87.746381, 41.925198),
 'T223': (-87.805059, 41.973845),
 'T225': (-87.731435, 41.743402),
 'T227': (-87.60096300000002, 41.728495),
 'T224': (-87.67145699999998, 41.94722700000001),
 'T226': (-87.654234, 41.793818),
 'T229': (-87.63981700000002, 41.753411),
 'T230': (-87.756155, 41.904194),
 'T228': (-87.72505699999998, 41.951866),
 'T232': (-87.66805500000002, 41.912563),
 'T231': (-87.666066, 41.98728),
 'T235': (-87.627096, 41.776428),
 'T233': (-87.807277, 42.009876),
 'T236': (-87.770899, 41.994679),
 'T237': (-87.69544300000003, 41.738903),
 'T238': (-87.707394, 41.753391),
 'T094B': (-87.669539, 41.71914),
 'T054C': (-87.63359, 41.925652)}

In [24]:
station_distances = {}
for station in stations:
    lon = stations[station][0]
    lat = stations[station][1]
    
    for index, spray_row in spray.iterrows():
        tmp_dist = global_distance(lon, lat, spray_row['Longitude'], spray_row['Latitude'])
        if station in station_distances:
            station_distances[station] = min(tmp_dist, station_distances[station])
        else:
            station_distances[station] = tmp_dist

In [31]:
train.to_csv('../data/train_cleaned_spray.csv', index=False)

## Exporting file

In [32]:
spray.to_csv('../data/spray_cleaned.csv', index=False)